<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @payment.context %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>


<p>
<%=button_to "Pay", pay_payment_path(@payment)%>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
